:root {
    --color-borde: #dbdbdb;
  }
  
  .container {
    border: 1px solid var(--color-borde);
    height: 50%;
    max-width: 350px;
    margin: 2% auto;
    padding: 2rem;
    padding-top: .5rem;
    background-color: #ffffff;
  }
 
  
  table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
  }
   th, td {
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
  }
  
  
  #bajada {
    text-align: center;
    font-weight: 900;
  }
  
  
  .foto{
    
    border: 1px solid #ddd;
    
    
    
  }
  .fotos{
    display: flex;
    justify-content: center;
    
  }
  
  .Titulo{
    text-align: center;
    font-size: large;
    font-weight: 900;
  }
  
  .link{
    text-align: center;
  }
  
  .botones {
    display: flex;
    justify-content: center;
  }
  
  
  
  
  
  
  